body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#board {
    width: 600px;
    height: 600px;
    background-color: rgb(111, 143, 175);
    /*rgb(137, 207, 240)*/
    display: flex;
    flex-wrap: wrap;
    border: solid 5px black;
}

.square {
    width:200px;
    height: 200px;
    background-color: white;
    border: solid 5px black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circle {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    border: 25px solid red;
    box-sizing: border-box;
}

.X {
    height: 175px;
    width: 175px;
    position: relative;
    transform: rotate(45deg);
}

.X:before, .X:after {
    content: "";
    position: absolute;
    background-color: blue;
}

.X:before {
    left: 50%;
    width: 30%;
    height: 100%;
    margin-left: -15%;

}

.X:after{
    top: 50%;
    width: 100%;
    height: 30%;
    margin-top: -15%;

}

