body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#board {
    width: 500px;
    height: 500px;
    background-color: rgb(111, 143, 175);
    /*rgb(137, 207, 240)*/
    display: flex;
    flex-wrap: wrap;
    border: solid 5px black;
}

.square {
    width: 200px;
    height: 200px;
    background-color: white;
    border: solid 2px black;
    box-sizing: border-box;
}